#project__body{
    height: 100vh;
}

.projects__row{
    flex-direction: column;
    align-items: center;
    gap: 4em;
}

.project__info--container{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.project__link{
    text-align: center;
}

.project__preview--wrapper{
    max-width: 35em;
}