.modal__row{
    left: 0;
    right: 0;
    margin: 0 1.5em;
    height: 80%;
    position: absolute;
}

.modal{
    height: 100%;
    position: relative;
}

.modalleft, .modalright{
    position: absolute;
    width: 100%;
    height: 50%;
    border: 2px solid black;
    z-index: 100;
    transition: all 1s ease;
}

.modalleft{
    top: 0;
    transform: translateY(-300%);
}

.modalright{
    bottom: 0px;
    transform: translateY(300%);
}

.modalON .modalleft, .modalON .modalright{
    transform: translateY(0);
}

.highlight{
    color: red;
}