.modal__row{
    left: 0;
    right: 0;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 1.5em;
    height: 80%;
    position: absolute;
    transition: all 300ms ease;
}

.modalON .modal{
    box-shadow: 0 0 2em black;
    z-index: 10;
}

.modalON .info__container{
    box-shadow: none;
}

.modal{
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 1em;
    transition: all 300ms ease;
}

.modaltop, .modalbottom{
    display: flex;
    position: relative;
    width: 100%;
    height: 50%;
    border: .2em solid #242424;
    z-index: 100;
    transition: all 1s ease;
}

.modaltop{
    top: 0;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    transform: translateY(-120%);
    background-color: #242424;
}

.modalbottom{
    bottom: 0;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    transform: translateY(120%);
    background-color: #efe9e6;
}

.modalON .modaltop, .modalON .modalbottom{
    transform: translateY(0);
}

.highlight{
    color: #43e031;
    text-transform: capitalize;
    font-weight: 600;
}

.modal__info{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.modaltop > .modal__info{
    margin: 5em 3em 2em;
}

.modalbottom > .modal__info{
    margin: 3em 3em 2em;
}

.modal__title{
    font-size: 1.9em;
    margin-bottom: .7em;
    color: white;
}

.modal__info--container{
    display: flex;
    flex: 1;
}

.modal__text{
    color: white;
    font-size: 1.1em;
    letter-spacing: .06em;
    line-height: 1.4em;
    max-width: 45%;
    text-align: left;
}

.modal__languages--container{
    flex: 1;
    padding-left: 2em;
}

.languages__list{
    display: flex;
    justify-content: flex-end;
    gap: 2em;
    padding-right: 2em;
}

.language__item{
    width: 18%;
}

.language__wrapper{
    width: 100%;
    border-radius: 1em;
}

.language__img{
    border-radius: 1em;
    padding: .5em;
}

.language__wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 300ms ease;
}

.language__name{
    opacity: 0;
    transition: all 300ms ease;
    color: rgb(171, 171, 171);
}

.language__wrapper:hover .language__name{
    opacity: 1;
}

.language__wrapper:hover{
    box-shadow: 0 0 .7em rgba(255, 255, 255, 0.346);
}

.language__wrapper:hover {
    scale: 1.1;
}

.close__icon{
    scale: 1.3;
    color: white;
}

.closebtn{
    display: flex;
    position: absolute;
    top: 2em;
    right: 2em;
    overflow: hidden;
    border-radius: 1em;
    transition: all 300ms ease;
    border: 2px solid transparent;
}

.closebtn:hover{
    background-color: rgba(255, 255, 255, 0.189);
    border: 2px solid white;
}

.modalbottom > .modal__info > .modal__title{
    color: #242424;
}

.form__container{
    width: 100%;
}

#modal__form{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form__organizer{
    display: flex;
    flex-direction: row;
    gap: .5em;

}

.form__item{
    width: 35%;
}

 .form__organizer > .form__item {
    width: 100%;
}

label{
    font-weight: 600;
    color: #242424;
    margin-right: .5em;
    font-size: 1.4em;
}

input, textarea{
    font-size: 1.2em;
    width: 100%;
    padding: .2em;
    outline: none;
    background-color: #efe9e6;
    border: lightgray 3px solid;
    border-radius: .5em;
}

input:focus, textarea:focus{
    border-color: #43e031;
}

.form__organizer > .message{
    width: 70%;
}

textarea{
    resize: vertical;
    height: 5.6em;
}

.form__organizer > button {
    margin: 2em auto 0;
    flex-grow: 1;
    background-color: #43e031;
    max-height: 7.4em;
    max-width: 22em;
    border: .2em transparent solid;
}

.form__organizer > button:hover{
    box-shadow: 0 0 1.5em rgba(0, 0, 0, 0.656);
    border-color: white;
}

.btn__text{
    font-size: 2em;
}

.form__organizer > button:hover .btn__text{
    color: white;
}


/* MODAL LOADING STATES */

.modal__overlay{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: 10;
    border-bottom-left-radius: .8em;
    border-bottom-right-radius: .8em;
}

.modal__overlay--visible{
    display: flex;
}

.modal__loading{
    background-color: #242424;
}

.modal__loading > .custom-loader {
    width:64px;
    height:64px;
    --c:radial-gradient(circle closest-side,#fff 90%,#0000);
    background: 
      var(--c) 0    0,
      var(--c) 0    100%,
      var(--c) 100% 100%;
    background-size:24px 24px;
    background-repeat: no-repeat;
    animation:d1 1s infinite linear;
  }
  @keyframes d1 {
      25% {background-position:100% 0   ,0 100%,100% 100%}
      50% {background-position:100% 0   ,0 0   ,100% 100%}
      75% {background-position:100% 0   ,0 0   ,0    100%}
      100%{background-position:100% 100%,0 0   ,0    100%}
  }

.modal__success{
    background-color: #43e031;

}

.modal__success > h1,
.modal__success >h2{
    color: white;
    font-size: 2.5em;
}

.modal__error{
    background-color: #e03131;
}

