@media (max-width: 1130px) {
    #root{
        font-size: 13px;
    }
}

@media (max-width: 1000px) {
    #root{
        font-size: 12px;
    }

}

@media (orientation: portrait){
    .row{
        flex-direction: column;
    }
    .info__container{
        width: 100%;
        gap: 1em;
        padding: 1em;
    }
}