@media (max-width: 1130px) {
    #root{
        font-size: 13px;
    }
}

@media (max-width: 1000px) {
    #root{
        font-size: 12px;
    }

}

@media only screen and (max-width: 700px){
    .footer__list{
        gap: 25%;
        row-gap: .5em;
    }
}

@media only screen and (orientation: portrait){
    .row__landing{
        flex-direction: column;
        justify-content: center;
        gap: 2.5em;
    }
    .info__container{
        width: 100%;
        max-width: 30em;
        gap: 1em;
        padding: 1em;
    }

    .links__list{
        flex-direction: row;
    }

    .link__title{
        font-size: 1.5em;
    }

    .projects__group{
        margin: 0;
        justify-content: center;
        flex-grow: 0;
    }

    .project__title{
        font-size: 2em;
    }

    .modalON .row__landing{
        opacity: 0;
    }

    .modaltop > .modal__info{
        margin: 3em 2em;
    }

    .modalbottom > .modal__info{
        margin: 3em 2em;
    }
    
    .modal__info--container{
        flex-direction: column;
    }
    
    .modal__text{
        font-size: 1em;
        max-width: none;
        line-height: normal;
    }

    .modal__languages--container{
        padding: 0;
        margin-top: 1em;
    }

    .languages__list{
        padding: 0;
        justify-content: center;
    }

    #modal__form{
        gap: .8em;
    }

    label{
        font-size: 1.2em;
    }

    input, textarea{
        font-size: 1em;
    }

    .form__organizer > button {
        margin: 1.2em auto 0;
        max-height: 4.8em;
    }

    .project__preview--wrapper{
        width: 90%;
    }

    .initial__wrapper{
        display: none;
    }
}