* {
  font-family: "Roboto Condensed", sans-serif !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

#root {
  background-color: #efe9e6;
}

.container {
  height: 100%;
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1.5em;
}

a {
  font-weight: 600;
}

img {
  width: 100%;
}

li {
  display: flex;
}

li > a {
  padding: 0.3em;
}

figure {
  display: flex;
}

.click {
  transition: all 500ms ease;
}

.click:hover {
  box-shadow: 0 0 0.7em rgba(0, 0, 0, 0.712);
  cursor: pointer;
}

/* Landing */

#Landing {
  height: 100vh;
  padding: 1em 0;
  position: relative;
  z-index: 1;
}

.container__landing {
  display: flex;
  align-items: center;
}

.row__landing {
  align-items: center;
  position: relative;
}

.info__container,
.info__personal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info__container {
  width: 30%;
  max-width: 14em;
  font-size: 1.2em;
  padding: 2em;
  border-radius: 1em;
  box-shadow: 0 0 2em black;
  gap: 3em;
  background-color: #efe9e6;
}

.info__personal {
  min-width: 10em;
  border-bottom: 2px solid black;
}

.info__personal > figure {
  display: flex;
  width: 4em;
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  margin-bottom: 0.25em;
  box-shadow: 0 0 .5em;
}

.personal__pic{
  object-fit: cover;
  scale: 1.3;
  transform: translateY(.3em);
}

.links__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8em;
}

.link {
  background: none;
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em;
}

.footer__list > li {
  border-radius: 4px;
}

.icon__link {
  display: flex;
}

.footer__list > .whabtn--hover:hover {
  background-color: #07e42141;
}

.footer__list > .mailbtn--hover:hover {
  background-color: #007acc48;
}

.footer__list > .gitbtn--hover:hover {
  background-color: #792f9b27;
}

.footer__list > .linkedbtn--hover:hover {
  background-color: #0074b24f;
}

.footer__list > .pdfbtn--hover:hover {
  background-color: #db06314f;
}

.footer__list > .contrastbtn--hover:hover {
  background-color: #00000028;
}

.whabtn {
  color: #1d8129;
}

.mailbtn {
  color: #007acc;
}

.pdfbtn {
  color: #db0632;
}

.linkedbtn {
  color: #0073b2;
}

.gitbtn {
  color: #792f9b;
}

.contrastbtn {
  color: #242424;
}

.MuiIconButton-root,
.MuiButtonBase-root {
  color: black !important;
  padding: 0.4em 0.7em !important;
  border-radius: 0.5em !important;
  font-weight: 600 !important;
  text-transform: none !important;
  line-height: 1 !important;
  letter-spacing: 0 !important;
  min-width: 0 !important;
}

.css-78trlr-MuiButtonBase-root-MuiIconButton-root {
  font-size: 1em !important;
}

/* icon size */

.css-i4bv87-MuiSvgIcon-root {
  font-size: 1.5em !important;
}

/* nav link size */

.link__title {
  font-size: 1.8em;
}

.projects__group {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  gap: 1em;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-left: 3em;
}

.project__container {
  display: flex;
  width: 45%;
  aspect-ratio: 1.4 / 1;
  min-height: 12em;
  position: relative;
  border-radius: 1em;
  border: 2px solid rgb(192, 192, 192);
  background-color: rgb(204, 204, 204);
  overflow: hidden;
}

.project__wrapper {
  height: 100%;
}

.project__img {
  object-fit: cover;
}

/* LOADER CSS */

.custom-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2em;
  height: 2em;
  --c: radial-gradient(circle closest-side, #43e031 90%, #0000);
  background: var(--c) 0 0, var(--c) 0 100%, var(--c) 100% 100%;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: d1 1s infinite linear;
}
@keyframes d1 {
  25% {
    background-position: 100% 0, 0 100%, 100% 100%;
  }
  50% {
    background-position: 100% 0, 0 0, 100% 100%;
  }
  75% {
    background-position: 100% 0, 0 0, 0 100%;
  }
  100% {
    background-position: 100% 100%, 0 0, 0 100%;
  }
}

/* LOADER CSS */

.project__background {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 300ms ease;
}

.project__container:hover .project__background {
  opacity: 1;
}

.project__title {
  font-size: 3em;
  color: white;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* CSS FOR THE INITIAL COMPONENT */

.initial__wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  overflow: hidden;
}

.initial {
  position: absolute;
  font-size: 2em;
  font-weight: 700;
}

.i1 {
  left: 15vw;
  top: 10vh;
}

.i4 {
  left: 15vw;
  top: 50vh;
}

.i7 {
  left: 15vw;
  top: 90vh;
}

.i2 {
  left: 50vw;
  top: 10vh;
}

.i5 {
  left: 50vw;
  top: 50vh;
}

.i8 {
  left: 50vw;
  top: 90vh;
}

.i3 {
  left: 85vw;
  top: 10vh;
}

.i6 {
  left: 85vw;
  top: 50vh;
}

.i9 {
  left: 85vw;
  top: 90vh;
}
