* {
  font-family: "Roboto Condensed", sans-serif !important;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

.container {
  height: 100%;
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5em;
}

a {
  font-weight: 600;
}

img {
  width: 100%;
}

li {
  display: flex;
}

li > a {
  padding: 0.3em;
}

figure {
  display: flex;
}

.click{
  transition: all 500ms ease;
}

.click:hover{
  box-shadow: 0 0 .7em rgba(0, 0, 0, 0.712);
  cursor: pointer;
}

/* Landing */

#Landing {
  height: 100vh;
  padding: 1em 0;
}

.row__landing{
  align-items: center;
}

.info__container{
  padding: 4em 1em;
  border-radius: 1em;
  box-shadow: 0 0 2em black;
  gap: 2em;
}

.info__container,
.info__personal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info__personal {
  min-width: 10em;
  border-bottom: 2px solid black;
}

.info__personal > figure {
  display: flex;
  width: 4em;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 0.25em;
}

.links__list{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5em;
}

.link{
  padding: .2em .5em;
  background: none;
  border: none;
  border-radius: .5em;
  font-size: .95em;
  font-weight: 600; 
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

.footer__list > li {
  border-radius: 4px;
}

.footer__list > .whabtn--hover:hover {
  background-color: #07e42141;
}

.footer__list > .mailbtn--hover:hover {
  background-color: #007acc48;
}

.footer__list > .gitbtn--hover:hover {
  background-color: #792f9b27;
}

.footer__list > .linkedbtn--hover:hover {
  background-color: #0074b24f;
}

.footer__list > .pdfbtn--hover:hover {
  background-color: #db06314f;
}

.whabtn{
  color: #1d8129 ;
}

.mailbtn{
  color: #007acc;
}

.pdfbtn{
  color: #db0632;
}

.linkedbtn{
  color: #0073b2;
}

.gitbtn{
  color: #792f9b;
}



.MuiButtonBase-root{
  color: black !important;
  padding: .4em .7em!important;
  border-radius: .5em!important;
  font-size: .95em!important;
  font-weight: 600!important; 
  text-transform: none !important;
  line-height: 1 !important;
  letter-spacing: 0 !important;
  min-width: 0 !important;
}


.projects__group {
  display: flex;
  align-content: center;
  justify-content: flex-start;
  gap: 1em;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-left: 3em;
}

.project__container {
  display: flex;
  max-width: 30%;
  position: relative;
  border-radius: 1em;
  overflow: hidden;
}

.project__background {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: all 300ms ease;
}

.project__container:hover .project__background {
  opacity: 1;
}

.project__title {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

